<!--/* 
	Deux informations transmises par le contrôleur :
	selected   : la catégorie sélectionnée
	categories : la liste des catégories
*/-->
{{! On insère l'en-tête de page }}
{{>header}}
	<form>
		<!--/* L'action par défaut est de revenir à l'URL du contrôleur */-->
		<div class="column">
			<label for="code">Choisissez la catégorie à afficher</label>
			<!--/* Une liste de choix pour le paramètre 'code' -->
			<select name='code' onchange='this.form.submit()'>
				<!--/* onchange    quand on change la valeur choisie, on soumet automatiquement le formulaire */-->
				<option selected="true" disabled="disabled">Choisissez une catégprie</option>
				{{#categories}}
					<option value="{{code}}">{{libelle}}</option>
				{{/categories}}
			</select>
		</div>
	</form>
	<h2>Produits dans la catégorie '<em>{{selected.libelle}}</em>'</h2>
	<!--/* On montre la liste des produits dans la catégorie sélectionnée sous la forme d'une table HTML */-->
	<table>
		<tr>
			<th>Référence</th>
			<th>Nom</th>
			<th>Prix Unitaire</th>
		</tr>
		<!--/* Pour chaque produit dans la catégorie sélectionnée */-->
		{{#selected.produits}}
			<tr>
				<td>{{reference}}</td>
				<td>{{nom}}</td>
				<td>{{prixUnitaire}}</td>
			</tr>
		{{/selected.produits}}
		<!--/* Si il n'y a pas de produits dans la catégorie sélectionnée */-->
		{{^selected.produits}}
			<tr>
				<td colspan="3">Aucun produit dans cette catégorie</td>
			</tr>
		{{/selected.produits}}
	</table>
	<hr/>
	<a  href="/">Retour au menu</a>
	<hr/>
	<h3>Code source</h3>
	<ul>
		<li><a href="https://bitbucket.org/rbastide/comptoirsspringmvc/src/master/src/main/java/comptoirs/entity/Categorie.java"                      target="_blank">Le modèle (une catégorie)</a></li>
		<li><a href="https://bitbucket.org/rbastide/comptoirsspringmvc/src/master/src/main/resources/templates/categorieProduits.mustache"                target="_blank">Cette vue</a></li>
		<li><a href="https://bitbucket.org/rbastide/comptoirsspringmvc/src/master/src/main/java/comptoirs/controller/CategorieProduitController.java" target="_blank">Le contrôleur</a></li>
	</ul>			
{{>header}}