{{! 
	Le contrôleur transmet deux informations à cette vue :
		- categories : la liste des catégories à afficher
		- message : un éventuel message d'erreur ou d'information
}}

{{>header}}
		<h1>Les catégories</h1>
		{{! On appelle l'URL 'add' du contôleur }}
		<a href='add'>Ajouter une catégorie</a>
		{{! On affiche un éventuel message d'erreur }}
		{{#message}}<h3>{{message}}</h3>{{/message}}				
		<table>
			<tr><th>Code</th><th>Libellé</th><th>Description</th><th>Action</th></tr>
			{{! Pour chaque catégorie dans la liste 'categories' transmise par le contrôleur }}
			{{#categories}}
				<tr>
					{{! On affiche les informations de la catégorie }}
					<td>{{code}}</td>
					<td>{{libelle}}</td>
					<td>{{description}}</td>
					{{! On affiche un lien vers le contrôleur de modification de la catégorie }}
					<td>
						<a href='edit?code={{code}}'>Modifier</a> 
						<a href='delete?code={{code}}'>Supprimer</a>
					</td>
				</tr>
			{{/categories}}
		</table>
		<hr/>
		<a href="/">Retour au menu</a>
		<hr/>
		<h3>Code source</h3>
		<ul>
			<li><a href="https://bitbucket.org/rbastide/comptoirsspringmvc/src/master/src/main/java/comptoirs/entity/Categorie.java"               target="_blank">Le modèle (une catégorie)</a></li>
			<li><a href="https://bitbucket.org/rbastide/comptoirsspringmvc/src/master/src/main/resources/templates/showCategories.mustache"            target="_blank">Cette vue</a></li>
			<li><a href="https://bitbucket.org/rbastide/comptoirsspringmvc/src/master/src/main/java/comptoirs/controller/CategorieController.java" target="_blank">Le contrôleur</a></li>
		</ul>				
	</body>
</html>